@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/colors' as *;

.district-volume-upload {

  &-column__content {
    form {
      display: flex;
      flex-direction: column;
      margin-top: $spacing-08;
      gap: $spacing-08;

      @include breakpoint-down(md) {      
        margin-top: $spacing-01;
        padding: $spacing-05 $spacing-07;
        flex-shrink: 0;      
      }

      .button-group {
        display: flex;
        gap: $spacing-07;
      }
    }
  }

  &-submit-button {
    align-self: flex-start;
  }

  &-submitting-text {
    margin-left: $spacing-02;
  }

}
