@use 'sass:map';
@use 'sass:meta';

@use './mixins';
@use '@carbon/styles/scss/spacing';
@use '@bcgov-nr/nr-theme/design-tokens/body-types';
@use './overrides';
@use './variables' as variables;
@use '@carbon/react/scss/spacing' as *;

/* Toast Notification - Set it to the top-right corner and animate */
.#{variables.$bcgov-prefix}--toast-notification {
  z-index: 12000 !important;
  position: fixed !important;
  top: 1rem !important;
  right: 1rem !important;
  transform: translateX(100%);
  opacity: 0;

  &.slide-in {
    animation: slide-in-right 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
  &.slide-out {
    animation: slide-out-right 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}

.notification-column {
  padding-left: $spacing-05;
  padding-right: $spacing-03;

  .#{variables.$bcgov-prefix}--inline-notification {
    width: 100%;
    max-inline-size: none;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.display-contents {
  display: contents;
}

$type-map: (
  body-compact-01: body-types.$body-compact-01,
  helper-text-01: body-types.$helper-text-01,
  heading-03: body-types.$heading-03,
  heading-compact-01: body-types.$heading-compact-01,
  label-01: body-types.$label-01,
);

:root {  
  @include mixins.emit-tokens($type-map, variables.$bcgov-prefix, null);
  @include mixins.emit-tokens(spacing.$spacing, variables.$bcgov-prefix, null);
  @include mixins.emit-tokens(spacing.$layout, variables.$bcgov-prefix, null);
}