@use '../../../styles/variables' as vars;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/type/scss/font-family.scss';
@use '@carbon/type';

.cds--side-nav__item {
  margin-top: auto;
}

.cds--side-nav__divider {
  margin: 0;
}

.my-profile-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .user-info-section {
    padding: 1rem;
    display: flex;

    .user-data {
      margin-left: 2rem;
    }

    .user-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .user-name {
    @include font-weight(semibold);
  }

  .divisory {
    border: 1px solid var(--#{vars.$bcgov-prefix}-border-subtle-01);
  }

  .account-nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 0;

    ul {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow-y: auto;

      li.district-panel {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        div.district-selection-container {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          overflow-y: auto;
        }
      }
    }

    a {
      width: 100%;
      @include font-weight(semibold);
    }

    .panel-section,
    .panel-section-light {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      padding-bottom: 0;
      background: var(--#{vars.$bcgov-prefix}-background-left-panel);
    }

    .panel-section-light {
      background: var(--#{vars.$bcgov-prefix}-layer-02);
      display: flex;
      gap: 0.5rem;
    }

    .panel-section > span,
    .panel-section-light > span {
      @include type.type-style('label-01');
      color: var(--#{vars.$bcgov-prefix}-text-secondary);
      user-select: none;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
