@use '../../../../styles/variables' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.advanced-search-modal {
  .advanced-search-body {
    padding-bottom: 2rem;
    mask-image: none;

    .advanced-search-grid {
      overflow-y: auto;

      .date-filter-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 0.125rem;

        > * {
          flex: 1;
        }

        .advanced-date-picker {
          flex: 1;
          width: calc((100% / 3) - 0.25rem);
        }

        .#{vars.$bcgov-prefix}--date-picker {
          height: 100%;
          width: 100%;

          .#{vars.$bcgov-prefix}--date-picker-container {
            width: 100%;

            .#{vars.$bcgov-prefix}--date-picker-input__wrapper {
              width: 100%;

              span {
                width: 100%;
              }
            }
          }
        }

        .#{vars.$bcgov-prefix}--date-picker__input {
          inline-size: 100%;
          width: 100%;
        }
      }

      .advanced-text-input {
        height: 100%;
      }
    }
  }

  .#{vars.$bcgov-prefix}--modal-container-body {

    .#{vars.$bcgov-prefix}--modal-footer {
      gap: 0.5rem;
      margin: 0 1rem 1rem 1rem;
      .#{vars.$bcgov-prefix}--btn {
        border-radius: 0.25rem;
        align-items: center;
        padding-block: var(--temp-padding-block-max);

        .#{vars.$bcgov-prefix}--btn__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 0.5rem;
        }

      }
    }

    .#{vars.$bcgov-prefix}--form__helper-text {
      min-block-size: calc(var(--#{vars.$bcgov-prefix}-helper-text-01-font-size, 0.75rem) * var(--#{vars.$bcgov-prefix}-helper-text-01-line-height, 1.33333));
    }
  }
}
