@use '../../../../styles/variables' as vars;
@use '@bcgov-nr/nr-theme/design-tokens/colors.scss' as colors;
@use '@carbon/type';

.advanced-search-modal {
  .advanced-search-body {
    padding-bottom: 2rem;
    mask-image: none;

    .advanced-search-grid {
      overflow-y: auto;

      .date-filter-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 0.125rem;

        > * {
          flex: 1;
        }

        .advanced-date-picker {
          flex: 1;
          width: calc((100% / 3) - 0.25rem);
        }

        .#{vars.$bcgov-prefix}--date-picker {
          height: 100%;
          width: 100%;

          .#{vars.$bcgov-prefix}--date-picker-container {
            width: 100%;

            .#{vars.$bcgov-prefix}--date-picker-input__wrapper {
              width: 100%;

              span {
                width: 100%;
              }
            }
          }
        }

        .#{vars.$bcgov-prefix}--date-picker__input {
          inline-size: 100%;
          width: 100%;
        }
      }

      .advanced-text-input {
        height: 100%;
      }
    }
  }
}

.cds--modal-container-body {

  .cds--modal-footer {
    gap: 0.5rem;
    margin: 0 1rem 1rem 1rem;
    .cds--btn {
      border-radius: 0.25rem;
    }
  }  
}