@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/styles/scss/components/tabs';

.district-volume-detail {
  &-column__banner,
  &-column__actions {
    display: flex;
    flex-direction: column;   
    gap: $spacing-08;

    @include breakpoint-down(md) {
      margin-top: $spacing-01;
      padding: $spacing-05 $spacing-07;
      flex-shrink: 0;
    }
  }
  
  &__start-date,
  &__end-date,
  &__table-level-factor,
  &__heli-multiplier {
    display: flex;
    flex-direction: column;
  }

  &-column__notification,
  &-column__actions {
    display: flex;
    flex-direction: column;
    margin-top: $spacing-08;
  }
  &-column__actions {  
    margin-top: $spacing-06;
  }  

  &-column__banner {
    margin-top: 0;
  }

  &__zones {
    margin-top: $spacing-08;
    gap: 0;
  }
}
