@use '@carbon/styles/scss/components/tile';
@use '@carbon/type' as *;
@use '@carbon/react/scss/spacing' as *;
@use '../../../styles/variables' as vars;

.configuration-card {
  max-width: min(100%, 22.5rem);
  min-block-size: min(100%, 22.5rem);
  min-inline-size: min(100%, 22.5rem);
    
  h4 {
    margin-bottom: $spacing-05;
    @include type-style('heading-compact-01');
  }

  p {
    margin-bottom: $spacing-05;
    @include type-style('label-01');
  }

  .#{vars.$bcgov-prefix}--btn {
    max-width: min(100%, 12.75rem);
    max-inline-size: min(100%, 12.75rem);
    padding-inline: calc(var(--cds-layout-density-padding-inline-local) - 0.0625rem) calc(var(--cds-layout-density-padding-inline-local) * 3 + 1rem - 3.0625rem);
  }
}