@use '@carbon/styles/scss/components/tile';
@use '@carbon/type' as *;
@use '@carbon/react/scss/spacing' as *;
@use '../../../styles/variables' as vars;

.configuration-card {
  max-width: min(100%, 22.5rem);
  background-color: var(--cds-layer-02);

  .configuration-card__icon {
    margin-bottom: $spacing-05;
    color: var(--cds-link-primary);

    svg {
      display: block;
    }
  }

  h4 {
    margin-bottom: $spacing-05;

    @include type-style('heading-compact-01');
  }

  p {
    margin-bottom: $spacing-05;

    @include type-style('label-01');
  }

  .configuration-card__link {
    @include type-style('body-compact-01');
    align-items: center;
    display: inline-flex;
    gap: $spacing-02;
    text-decoration: none;
  }
}
