@use '@carbon/react/scss/spacing' as *;

.formula {
  &-config-sections {
    margin-top: $spacing-07;
  }

  &-set-detail {
    &-column {
      &__actions,
      &__notification {
        display: flex;
        flex-direction: column;
        margin-top: $spacing-08;
      }
      &__actions {
        margin-top: $spacing-06;
      }
    }

    &__area,
    &__start-date,
    &__end-date {
      display: flex;
      flex-direction: column;
    }
  }
}
