@use '../../../styles/variables' as vars;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/type';

.cds--subgrid--wide {
  margin-inline: 0;
  margin-inline-end: 0.25rem; //To avoid scrollbar on wide screens
  row-gap: 1rem;
  column-gap: 0.25rem;
}

.table-filters-grid {
  padding: 1rem;

  .filters-column {
    margin: 0 0.25rem 1rem 0;
  }
  .search-buttons-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.75rem;

    .search-button {
      flex-grow: 1;
    }
  }

  .search-col-sm {
    margin: auto 0;

    .search-button,
    .advanced-search-button {
      width: 100%;
      max-width: unset;
    }
  }
}
