name: Automated user flow tests

on:
  workflow_call:
    inputs:
      url:
        required: true
        type: string

jobs:
  cypress-run:
    name: "User flow test"
    permissions:
      pull-requests: write
    runs-on: ubuntu-24.04
    environment: tools
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        name: Start node
        with:
          node-version: 24

      - name: Run Cypress End-to-End
        uses: cypress-io/github-action@v5
        with:
          working-directory: cypress
        env:
          CYPRESS_baseUrl: https://${{ inputs.url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}          
          CYPRESS_idir_password: ${{ secrets.IDIR_UAT_PASSWORD }}
          CYPRESS_idir_username: ${{ secrets.IDIR_UAT_USERNAME }}
          CYPRESS_bceid_password: ${{ secrets.BCEID_UAT_PASSWORD }}
          CYPRESS_bceid_username: ${{ secrets.BCEID_UAT_USERNAME }}          

      - name: Publish Cypress Results
        uses: mikepenz/action-junit-report@3585e9575db828022551b4231f165eb59a0e74e3 # v5
        continue-on-error: true
        if: always()
        with:
          report_paths: cypress/result.xml
          commit: ${{ github.event.pull_request.head.sha }}
          summary: Cypress Test Results
          detailed_summary: true
          job_name: User Journeys

      - name: Check for Cypress Screenshots and Videos
        run: |
          if [ -d "cypress/cypress/screenshots" ] && [ "$(ls -A cypress/cypress/screenshots)" ]; then
            echo "Screenshots folder is not empty, uploading artifacts."            
            echo "screenshots=true" >> $GITHUB_OUTPUT

          else
            echo "Screenshots folder is empty or does not exist."
            echo "screenshots=false" >> $GITHUB_OUTPUT
          fi

          if [ -d "cypress/cypress/videos" ] && [ "$(ls -A cypress/cypress/videos)" ]; then
            echo "Videos folder is not empty, uploading artifacts."            
            echo "videos=true" >> $GITHUB_OUTPUT

          else
            echo "Videos folder is empty or does not exist."
            echo "videos=false" >> $GITHUB_OUTPUT
          fi
        id: check_artifacts

      - uses: actions/upload-artifact@v4
        name: Upload Cypress Screenshots
        if: always()
        with:
          name: cypress-screenshots
          path: cypress/cypress/screenshots
          retention-days: 7

      - uses: actions/upload-artifact@v4
        name: Upload Cypress Videos
        if: always()
        with:
          name: cypress-videos
          path: cypress/cypress/videos
          retention-days: 7
