name: Reusable Unit Tests and Analysis

on:
  workflow_call:

permissions: {}

jobs:
  tests-frontend:
    environment: test
    name: Frontend Unit Tests
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    permissions:
      contents: write
      checks: write
    runs-on: ubuntu-24.04
    env:
      VITE_APP_NAME: Waste Plus
      VITE_FEATURES_OFFLINE: true
      VITE_ZONE: TEST
      VITE_USER_POOLS_ID: ${{ secrets.COGNITO_USER_POOL }}
      VITE_USER_POOLS_WEB_CLIENT_ID: ${{ secrets.COGNITO_CLIENT_ID }}
      VITE_LEGACY_BASE_URL: https://apps.nrs.gov.bc.ca/ext/waste-for
      VITE_CLIENT_BASE_URL: https://forestclient.nrs.gov.bc.ca
      VITE_BACKEND_URL: http://localhost:8080
      VITE_NODE_ENV: test
      VITE_COVERAGE: true
      VITE_PORT: 3000
      VITE_FAM_DOMAIN: ${{ secrets.FAM_DOMAIN }}
      BCEID_USERNAME: ${{ secrets.BCEID_UAT_USERNAME }}
      BCEID_PASSWORD: ${{ secrets.BCEID_UAT_PASSWORD }}
      IDIR_USERNAME: ${{ secrets.IDIR_UAT_USERNAME }}
      IDIR_PASSWORD: ${{ secrets.IDIR_UAT_PASSWORD}}
    steps:
      - name: Fix safe.directory for GitHub Actions
        run: git config --global --add safe.directory /__w/nr-waste-plus/nr-waste-plus
      - name: Install unzip
        run: |
          apt-get update
          apt-get install -y unzip
      - uses: bcgov/action-test-and-analyse@8f699e3fd3fadd9a6adf6f4b1f2638ef7ecfefb9 # v2.0.0
        id: tests
        env:
          VITE_APP_NAME: Waste Plus
          VITE_FEATURES_OFFLINE: true
          VITE_ZONE: TEST
          VITE_USER_POOLS_ID: ${{ secrets.COGNITO_USER_POOL }}
          VITE_USER_POOLS_WEB_CLIENT_ID: ${{ secrets.COGNITO_CLIENT_ID }}
          VITE_LEGACY_BASE_URL: https://apps.nrs.gov.bc.ca/ext/waste-for
          VITE_CLIENT_BASE_URL: https://forestclient.nrs.gov.bc.ca
          VITE_BACKEND_URL: http://localhost:8080
          VITE_NODE_ENV: test
          VITE_COVERAGE: true
          VITE_PORT: 3000
          BCEID_USERNAME: ${{ secrets.BCEID_UAT_USERNAME }}
          BCEID_PASSWORD: ${{ secrets.BCEID_UAT_PASSWORD }}
          IDIR_USERNAME: ${{ secrets.IDIR_UAT_USERNAME }}
          IDIR_PASSWORD: ${{ secrets.IDIR_UAT_PASSWORD}}
        with:
          node_version: 24
          commands: |
            git config --global --add safe.directory /__w/nr-waste-plus/nr-waste-plus
            npm i
            npx playwright install-deps
            npx playwright install
            npm run test:coverage
          dir: frontend
          sonar_args: >
            -Dsonar.exclusions=**/*.test.ts,**/*.test.tsx,**/coverage/**,**/test-results/**,**/test-reports/**,**/node_modules/**,**/stub/**,**/reports/**,**/tests/**,**/vite-env.d.ts,**/types/**,**/*types.{ts,tsx},**/constants.{ts,tsx},**/config/fam/*,**/config/react-query/*,**/config/tests/*,**/*.env.ts,**/*.scss,**/*.css,**/*.d.ts,**/types.ts,**/*.types.ts,**/main.tsx,**/App.tsx,**/playwright.config.ts
            -Dsonar.coverage.exclusions=**/*.test.ts,**/*.test.tsx,**/coverage/**,**/test-results/**,**/test-reports/**,**/node_modules/**,**/stub/**,**/reports/**,**/tests/**,**/vite-env.d.ts,**/types/**,**/*types.{ts,tsx},**/constants.{ts,tsx},**/config/fam/*,**/config/react-query/*,**/config/tests/*,**/*.env.ts,**/*.scss,**/*.css,**/*.d.ts,**/types.ts,**/*.types.ts,**/main.tsx,**/App.tsx,**/playwright.config.ts
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.organization=bcgov-sonarcloud
            -Dsonar.projectKey=nr-waste-plus-frontend
          sonar_token: ${{ secrets.SONAR_TOKEN_FRONTEND }}
          triggers: ('frontend/')

      - name: Annotate PR with frontend test results
        if: always()
        uses: dorny/test-reporter@v2
        with:
          name: Frontend Unit Tests
          path: frontend/coverage/junit-report.xml
          reporter: java-junit
          only-summary: false
          fail-on-error: true

      - name: Annotate PR with e2e results
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: End-to-End Tests
          path: frontend/test-reports/junit/report.xml
          reporter: java-junit
          only-summary: false
          fail-on-error: true

      - name: Upload test videos
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: e2e-videos
          path: frontend/test-results/videos/

      - name: Upload test results
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: e2e-reports
          path: frontend/test-reports/report/
