@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/type' as *;

.species-composition-upload {
  &__content,
  &__review {
    form {
      display: flex;
      flex-direction: column;
      margin-top: $spacing-08;
      gap: $spacing-08;

      @include breakpoint-down(md) {
        margin-top: $spacing-04;
        padding: $spacing-02 $spacing-02;
        flex-shrink: 0;
      }

      div.button-group {
        display: flex;
        gap: $spacing-07;
        margin-bottom: $spacing-05;
        @include breakpoint-down(md) {
          margin-bottom: $spacing-05;
        }
      }
    }
  }

  &-submit-button {
    align-self: flex-start;
  }

  &-submitting-text {
    margin-left: $spacing-02;
  }
}

.species-composition-review-table {
  margin-top: $spacing-08;

  &__title {
    margin-bottom: $spacing-05;
    @include type-style('heading-03');
  }

  .cds--data-table {
    overflow-x: auto;
  }
}
